<% provide(:title, 'Contact information') %>

<div class="center hero-unit">
  <h1>Contact</h1>

  <h2>
    This contact form was task of:
    <a href="http://railstutorial.org/">Ruby on Rails Tutorial</a>
    sample application.

    <p />
    <h3>

      Hello world! :D

    </h3>
  </h2>


</div>

